<div class="card">
    <div class="card-header">
        Create job posting
    </div>
    <div class="card-body">
        <form action="/jobs/employer/create" method="post">
            <div class="form-group">
                <label for="title">Job Title</label>
                <input type="text" name="title" value="{{title}}" class="form-control" placeholder="Enter job title">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="salary">Salary range</label>
                    <select name="salary" class="form-control">
                        {{#select salary}}
                        <option disabled selected>Please select</option>
                        <option value="10,000 - 20,000">10,000 - 20,000</option>
                        <option value="20,000 - 30,000">20,000 - 30,000</option>
                        <option value="30,000 - 40,000">30,000 - 40,000</option>
                        <option value="40,000 - 50,000">40,000 - 50,000</option>
                        <option value="50,000 - 100,000">50,000 - 100,000</option>
                        <option value="100,000 and above">100,000 and above</option>
                        {{/select}}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="category">Category</label>
                    <select name="category" class="form-control">
                        {{#select category}}
                        <option disabled selected>Please select</option>
                        <option value="accounting-finance">Accounting and Finance</option>
                        <option value="administration-coordination">Administration and Coordination</option>
                        <option value="architecture-engineering">Architechture and Engineering</option>
                        <option value="arts-sports">Arts and Sports</option>
                        <option value="customer-service">Customer Service</option>
                        <option value="education-training">Education and Training</option>
                        <option value="health-medical">Health and Medical</option>
                        <option value="hospitality-tourism">Hospitality and Tourism</option>
                        <option value="human-resources">Human Resources</option>
                        <option value="it-software">IT and Software</option>
                        <option value="legal">Legal</option>
                        <option value="manufacturing-production">Manufactoring and Production</option>
                        <option value="media-creatives">Media and Creatives</option>
                        <option value="safety-security">Safety and Security</option>
                        <option value="sales-marketing">Sales and Marketing</option>
                        <option value="supply-chain">Supply Chain</option>
                        <option value="writing-content">Writing and Content</option>
                        <option value="others">Others</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="type">Employment Type</label>
                    <select name="type" class="form-control">
                        {{#select type}}
                        <option disabled selected>Please select</option>
                        <option value="intern">Intern</option>
                        <option value="part-time">Part-Time</option>
                        <option value="full-time">Full-Time</option>
                        {{/select}}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="location">Location</label>
                    <select name="location" class="form-control">
                        {{#select location}}
                        <option disabled selected>Please select</option>
                        <option value="cagayan-valley">Cagayan Valley</option>
                        <option value="calabarzon-mimaropa">Calabarzon & Mimaropa</option>
                        <option value="caraga">Caraga</option>
                        <option value="central-luzon">Central Luzon</option>
                        <option value="central-visayas">Central Visayas</option>
                        <option value="davao">Davao</option>
                        <option value="eastern-visayas">Eastern Visayas</option>
                        <option value="ilocos-region">Ilocos Region</option>
                        <option value="ncr">National Capital Region</option>
                        <option value="northern-mindanao">Northern Mindanao</option>
                        <option value="soccskargen">Soccskargen</option>
                        <option value="western-visayas">Western Visayas</option>
                        <option value="zamboanga">Zamboanga</option>
                        <option value="others">Others</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Job Description</label>
                <textarea type="text" rows="5" name="description" class="form-control" placeholder="Enter content body">{{description}}</textarea>
            </div>
            <button type="submit" class="btn btn-success btn-sm" style="cursor:pointer">Submit</button>
            <a href="/user/posts" role="button" class="btn btn-danger btn-sm">Cancel</a>
        </form>
    </div>
</div>