<div class="comtainer my-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <span class="font-weight-light lead">Applicant Sign-in</span>
                </div>
                <div class="card-body text-center">
                    <a href="/auth/google/" class="btn btn-danger btn-block font-weight-light mb-3">Sign-in with Google</a>
                    {{!--
                    <a href="/auth/facebook/" class="btn btn-primary btn-block font-weight-light mb-3">Sign-in with Facebook</a> --}}
                    <p class="text-muted small font-weight-light">By signing-in, you agree to NodeJob's
                        <a href="#">Terms of Use</a> and
                        <a href="#">Privacy Policy</a>.
                    </p>
                    <hr>
                    <p class="font-weight-light mb-0 text-left">Are you an employer?
                        <a href="/employer" class="badge badge-success">Go here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>