<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">NodeJob</h1>
        <p class="lead">Finding a job has never been easier that this</p>
    </div>
</div>